
.Rhistory

.Rproj.user/D4D7007F/pcs/files-pane.pper

.Rproj.user/D4D7007F/pcs/source-pane.pper

.Rproj.user/D4D7007F/pcs/windowlayoutstate.pper

.Rproj.user/D4D7007F/pcs/workbench-pane.pper

.Rproj.user/D4D7007F/rmd-outputs

.Rproj.user/D4D7007F/saved_source_markers

.Rproj.user/D4D7007F/sources/prop/3B977563

.Rproj.user/D4D7007F/sources/prop/45AFB32E

.Rproj.user/D4D7007F/sources/prop/91682F14

.Rproj.user/D4D7007F/sources/prop/INDEX

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/shared/notebooks/paths

PracticesInR.Rproj
